body {
	margin-bottom: 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-container {
    background-color: white;
}

.container-main {
	padding: 0;
}

.container-main .park-row {
	margin-bottom: 2rem;
}

.container-main .park-row:first-child {
	margin-top: 2rem;
}

h2 a {
    color: black;
}

h2 a:hover {
    color: #666;
    text-decoration: none;
}

.park-page-img {
	margin-bottom: 1rem;
}

.parallax {
	min-height: 500px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.park-container {
	margin-top: 1rem;
}

.blockquote {
	max-width: 75%;
	margin: 0 auto;
}

.blockquote-footer {
	margin-bottom: 1rem;
}

.weather {
    text-align: center;
}

.weather .today-weather {
    border-right: 1px solid rgba(0,0,0,.1);
}

.weather-img {
	display: block;
	margin: 0 auto;
}

#unit-form {
	max-width: 25%;
	margin: 0 auto;	
	background-color: #63A7B4;
	padding: 0.5rem 1rem;
}

#unit-form label {
	color: white;
}

#unit-form-submit {
	margin-top: 1rem;
}

#unit-form-submit:hover {
	cursor: pointer;
}

#unit-form .btn-success {
	background-color: #044C5A;
	border-color: #044C5A;
}

#survey-form .form-check {
	padding-left: 1rem;
}

@media screen and (min-width: 992px) {
	.header-container {
		display: block;
	}
	.mobile-logo-link {
		display: none;
	}
	.container-main {
		margin-top: 150px;
	}
}

@media screen and (max-width: 991px) {
	.header-container {
		display:none;
	}
	.mobile-logo-link {
		display: block;
		max-width: 35%;
	}
	.container-main {
		margin-top: 100px;
	}
	#unit-form {
		max-width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.container-main {
		margin-top: 75px;
	}
	.weather .today-weather {
		border-right: none;
	}
}